@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

@import "./css/rich-text.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --header-height: 5.02rem;
}

html[lang="am"] {
  --font-sans: var(--font-geez-manuscript), var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}

@theme {
  --color-primary-50: #fef4ee;
  --color-primary-100: #fde7d7;
  --color-primary-200: #fbcaad;
  --color-primary-300: #f7a67a;
  --color-primary-400: #f37744;
  --color-primary-500: #ef4c16;
  --color-primary-600: #e13a15;
  --color-primary-700: #ba2914;
  --color-primary-800: #942318;
  --color-primary-900: #781f16;
  --color-primary-950: #410c09;

  /* --color-primary-50: #ebfef6;
  --color-primary-100: #cefde6;
  --color-primary-200: #a2f8d3;
  --color-primary-300: #66efbc;
  --color-primary-400: #29dea1;
  --color-primary-500: #05c48a;
  --color-primary-600: #00a073;
  --color-primary-700: #00805f;
  --color-primary-800: #006a4f;
  --color-primary-900: #015340;
  --color-primary-950: #002f25; */
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
}

html, body {
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.font-michroma {
  font-family: var(--font-michroma);
}

html,
body {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

  @apply bg-primary-50 text-gray-950 dark:bg-gray-800 dark:text-gray-50 transition-colors duration-300 ease-in-out;
}


@custom-variant dark (&:where(.dark, .dark *));

button {
  @apply cursor-pointer focus:ring-2;
}

* {
  scrollbar-width: thin;
	scrollbar-color: var(--color-primary-700) transparent;
}