@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

@import "./css/rich-text.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --header-height: 5.02rem;
}

/* Override font for Amharic language */
html[lang="am"] {
  --font-sans: var(--font-geez-manuscript), var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *)); 

/* @theme {
  --color-primary-50:  #eff8ff;
  --color-primary-100: #def0ff;
  --color-primary-200: #b6e2ff;
  --color-primary-300: #76ccff;
  --color-primary-400: #2db3ff;
  --color-primary-500: #0299f5;
  --color-primary-600: #0079d2;
  --color-primary-700: #0060aa;
  --color-primary-800: #005897;
  --color-primary-900: #074473;
  --color-primary-950: #042b4d;
} */

@theme {
  --color-primary-50: #fef4ee;
  --color-primary-100: #fde7d7;
  --color-primary-200: #fbcaad;
  --color-primary-300: #f7a67a;
  --color-primary-400: #f37744;
  --color-primary-500: #ef4c16;
  --color-primary-600: #e13a15;
  --color-primary-700: #ba2914;
  --color-primary-800: #942318;
  --color-primary-900: #781f16;
  --color-primary-950: #410c09;
}

/* 'flamingo': {
}, */


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  /* 
  --font-mono: var(--font-geist-mono); 
  --font-sans: var(--font-poppins);
  */
}

/* Default font-family to Poppins throughout */
html, body {
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Utility for Michroma font via Tailwind custom family name */
.font-michroma {
  font-family: var(--font-michroma);
  /* var(--font-poppins), ui-sans-serif, system-ui, sans-serif; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

  @apply bg-white text-gray-900 dark:bg-gray-800 dark:text-gray-200;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}


