.rich-text h1 {
  /* font-size: 3.75rem; */
  @apply text-6xl;
}
.rich-text h2 {
  /* font-size: 3rem; */
  @apply text-5xl;
}
.rich-text h3 {
  /* font-size: 2.75rem; */
  @apply text-4xl;
}
.rich-text h4 {
  /* font-size: 1.875rem; */
  @apply text-3xl;
}
.rich-text h5 {
  /* font-size: 1.5rem; */
  @apply text-2xl;
}
.rich-text h6 {
  /* font-size: 1.25rem;  */
  @apply text-xl; 
}

.rich-text h1,
.rich-text h2,
.rich-text h3,
.rich-text h4,
.rich-text h5,
.rich-text h6 {
  /* font-weight: var(--font-weight-semibold); */
  @apply font-semibold;
}

.rich-text a {
    @apply text-primary-800 dark:text-primary-600 hover:underline;
}

.rich-text input[type='checkbox'] {
    @apply w-10 border-2 border-amber-950;
}